global
	daemon
	maxconn 256
	log 127.0.0.1 local0 info
	log 127.0.0.1 local1 notice

defaults
	log     global
	mode    http
	option  httplog
	option  dontlognull
	option  redispatch
	retries 3
	balance roundrobin
	timeout connect 5000
	timeout client  50000
	timeout server  50000
	timeout check   2000

listen rabbitmq_mgmt
	bind    0.0.0.0:<mgmt_port>
<mgmt_server_nodes>

listen rabbitmq_amqp
	bind    0.0.0.0:<amqp_port>
	mode    tcp
	option  tcplog
	balance roundrobin
	timeout client 3h
	timeout server 3h
<amqp_server_nodes>

listen admin_stats
	bind   0.0.0.0:<admin_port>
	mode   http
	option httplog
	stats  refresh 30s
	stats  uri /stats
	stats  realm welcome login\ Haproxy
	stats  auth admin:admin
	stats  hide-version
	stats  admin if TRUE
